@charset 'UTF-8';

.hide {
    display: none !important;
}

.title_wrap {
    margin-top: 50px;
    text-align: center;
}

.title {
    display: inline-block;
    font-size: 35px;
    position:relative;
}
.title::before {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: skyblue;
    position:absolute;
    bottom: 0;
    opacity: .8;
    z-index: -1;
}

.main {
    display: block;
}

.canvas_wrap {
    position: relative;
    width: 100%;
    height: 100vh;
}

.canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.canvas:first-child {
    border: 1px solid #000;
    z-index: 3;
}
.canvas:nth-child(2) {
    z-index: 2;
}
.canvas:nth-child(3) {
    z-index: 1;
}

.control {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.control label{
    display: block;
    margin: .5em;
}

.control input {
    margin: .5em auto 0 1em;
}
